/**
 * Copyright Amadeus
 */
{CSSTemplate {
	$classpath : 'aria.tester.runner.view.monitor.MonitorCSS',
	$extends : "aria.tester.runner.view.BaseCSS"
}}

{macro main()}
	.monitorContainer {
		position:relative;
		float:left;
		border : Solid 1px #ddd;
		{call borderRadius("5px 5px 0px 0px")/} 
	}
{/macro}
{/CSSTemplate}
