/**
 * Copyright Amadeus
 */

{CSSTemplate {
	$classpath : 'aria.tester.runner.view.logo.LogoCSS'
}}

{macro main()}
	{var mainColor = "rgb(" + baseColor.r + ","  + baseColor.g + "," + baseColor.b + ")"/}
	div {
		float : left;
		{if (aria.core.Browser.isIE && !aria.core.Browser.isIE9)}
			color : ${mainColor};    
		{else/}
			color : white;    
			text-shadow: 0px 0px 2px ${mainColor};
		{/if}
		font-family: times New Roman;
	}
 	.upperCase {
 		font-size: 68px;
    	margin-top: 30px;
	}
	.lowerCase {
		font-size : 101px;
	}
{/macro}

{/CSSTemplate}
