/**
 * Copyright Amadeus
 */


{CSSTemplate {
	$classpath : "aria.widgets.css.amadeusone.Button"
}}

{macro main()}

.xButton {
	background:none repeat scroll 0 0 transparent;
	border:0 none;
	cursor:pointer;
	margin: -1px -3px -1px -3px;
	padding:0;
	vertical-align:top;
	cursor:pointer;
	tabindex:10;
}

.xBTNbkg_a1QuickSearchBtn {
	/* old type of button (to remove) */
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","a1/divs/searchbkg.png","no-repeat")}
}

	.xButton_a1QuickSearchBtn_normal_c {
		font-weight: normal
	}
	.xButton_a1QuickSearchBtn_msdown_c {
		font-weight: normal
	}
	.xButton_a1QuickSearchBtn_msover_c {
		font-weight: normal
	}
	.xButton_a1QuickSearchBtn_selected_c {
		font-weight: normal
	}
	.xButton_a1QuickSearchBtn_disabled_c {
		font-weight: normal
	}
.xBTNbkg_stdDlgCloseBtn {
	/* old type of button (to remove) */
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","","no-repeat")}
}

	.xButton_stdDlgCloseBtn_normal_c {
		font-weight: normal
	}
	.xButton_stdDlgCloseBtn_msdown_c {
		font-weight: normal
	}
	.xButton_stdDlgCloseBtn_msover_c {
		font-weight: normal
	}
	.xButton_stdDlgCloseBtn_selected_c {
		font-weight: normal
	}
	.xButton_stdDlgCloseBtn_disabled_c {
		font-weight: normal
	}
.xBTNbkg_simple {
	/* old type of button (to remove) */
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","","no-repeat")}
}
	.xButton_simple_normal_c {
		font-weight: normal
	}
	.xButton_simple_msdown_c {
		font-weight: normal
	}
	.xButton_simple_msover_c {
		font-weight: normal
	}
	.xButton_simple_selected_c {
		font-weight: normal
	}
	.xButton_simple_disabled_c {
		font-weight: normal
	}
.xBTNbkg_important {
	/* old type of button (to remove) */
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","","no-repeat")}
}
.xButton_important_normal_bkgA {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonEdges.gif","no-repeat scroll 0 0")}
	font-size:1px;
}
.xButton_important_normal_bkgB {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonCentre.gif","repeat-x 0 0")}
}
.xButton_important_normal_w {height:25px;}
.xButton_important_normal_c {
	margin: 5px 0px 5px 0px;
	color: #000000;
}
.xButton_important_normal_b {width:8px; height:25px; background-position:0 0px;}
.xButton_important_normal_m {height:25px; background-position:0 0px; }
.xButton_important_normal_e {width:9px; height:25px; background-position: -8px 0px;}
	.xButton_important_normal_c {
		font-weight: bold
	}
.xButton_important_msdown_bkgA {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonEdges.gif","no-repeat scroll 0 0")}
	font-size:1px;
}
.xButton_important_msdown_bkgB {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonCentre.gif","repeat-x 0 0")}
}
.xButton_important_msdown_w {height:25px;}
.xButton_important_msdown_c {
	margin: 7px 0px 3px 0px;
	color: #000000;
}
.xButton_important_msdown_b {width:8px; height:25px; background-position:0 -27px;}
.xButton_important_msdown_m {height:25px; background-position:0 -27px; }
.xButton_important_msdown_e {width:9px; height:25px; background-position: -8px -27px;}
	.xButton_important_msdown_c {
		font-weight: bold
	}
.xButton_important_msover_bkgA {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonEdges.gif","no-repeat scroll 0 0")}
	font-size:1px;
}
.xButton_important_msover_bkgB {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonCentre.gif","repeat-x 0 0")}
}
.xButton_important_msover_w {height:25px;}
.xButton_important_msover_c {
	margin: 5px 0px 5px 0px;
	color: #000000;
}
.xButton_important_msover_b {width:8px; height:25px; background-position:0 0px;}
.xButton_important_msover_m {height:25px; background-position:0 0px; }
.xButton_important_msover_e {width:9px; height:25px; background-position: -8px 0px;}
	.xButton_important_msover_c {
		font-weight: bold
	}
.xButton_important_selected_bkgA {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonEdges.gif","no-repeat scroll 0 0")}
	font-size:1px;
}
.xButton_important_selected_bkgB {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonCentre.gif","repeat-x 0 0")}
}
.xButton_important_selected_w {height:25px;}
.xButton_important_selected_c {
	margin: 5px 0px 5px 0px;
	color: #000000;
}
.xButton_important_selected_b {width:8px; height:25px; background-position:0 0px;}
.xButton_important_selected_m {height:25px; background-position:0 0px; }
.xButton_important_selected_e {width:9px; height:25px; background-position: -8px 0px;}
	.xButton_important_selected_c {
		font-weight: bold
	}
.xButton_important_disabled_bkgA {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonEdges.gif","no-repeat scroll 0 0")}
	font-size:1px;
}
.xButton_important_disabled_bkgB {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonCentre.gif","repeat-x 0 0")}
}
.xButton_important_disabled_w {height:25px;}
.xButton_important_disabled_c {
	margin: 5px 0px 5px 0px;
	color: #000000;
}
.xButton_important_disabled_b {width:8px; height:25px; background-position:0 -54px;}
.xButton_important_disabled_m {height:25px; background-position:0 -54px; }
.xButton_important_disabled_e {width:9px; height:25px; background-position: -8px -54px;}
	.xButton_important_disabled_c {
		font-weight: bold
	}
.xBTNbkg_a1Transparent {
	/* old type of button (to remove) */
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","","no-repeat")}
}

	.xButton_a1Transparent_normal_c {
		font-weight: normal
	}
	.xButton_a1Transparent_msdown_c {
		font-weight: normal
	}
	.xButton_a1Transparent_msover_c {
		font-weight: normal
	}
	.xButton_a1Transparent_selected_c {
		font-weight: normal
	}
	.xButton_a1Transparent_disabled_c {
		font-weight: normal
	}
.xBTNbkg_a1NavBarBtn {
	/* old type of button (to remove) */
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","","no-repeat")}
}
.xButton_a1NavBarBtn_normal_bkgA {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","a1/buttons/navbarbtnEdges.png","no-repeat scroll 0 0")}
	font-size:1px;
}
.xButton_a1NavBarBtn_normal_bkgB {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","a1/buttons/navbarbtnCentre.png","repeat-x 0 0")}
}
.xButton_a1NavBarBtn_normal_w {height:28px;}
.xButton_a1NavBarBtn_normal_c {
	margin: 5px 11px 3px 11px;
	color: #fff;
}
.xButton_a1NavBarBtn_normal_b {width:4px; height:28px; background-position:0 0px;}
.xButton_a1NavBarBtn_normal_m {height:28px; background-position:0 0px; }
.xButton_a1NavBarBtn_normal_e {width:4px; height:28px; background-position: -4px 0px;}
	.xButton_a1NavBarBtn_normal_c {
		font-weight: normal
	}
.xButton_a1NavBarBtn_msdown_bkgA {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","a1/buttons/navbarbtnEdges.png","no-repeat scroll 0 0")}
	font-size:1px;
}
.xButton_a1NavBarBtn_msdown_bkgB {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","a1/buttons/navbarbtnCentre.png","repeat-x 0 0")}
}
.xButton_a1NavBarBtn_msdown_w {height:28px;}
.xButton_a1NavBarBtn_msdown_c {
	margin: 7px 11px 1px 11px;
	color: #fff;
}
.xButton_a1NavBarBtn_msdown_b {width:4px; height:28px; background-position:0 -29px;}
.xButton_a1NavBarBtn_msdown_m {height:28px; background-position:0 -29px; }
.xButton_a1NavBarBtn_msdown_e {width:4px; height:28px; background-position: -4px -29px;}
	.xButton_a1NavBarBtn_msdown_c {
		font-weight: normal
	}
.xButton_a1NavBarBtn_msover_bkgA {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","a1/buttons/navbarbtnEdges.png","no-repeat scroll 0 0")}
	font-size:1px;
}
.xButton_a1NavBarBtn_msover_bkgB {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","a1/buttons/navbarbtnCentre.png","repeat-x 0 0")}
}
.xButton_a1NavBarBtn_msover_w {height:28px;}
.xButton_a1NavBarBtn_msover_c {
	margin: 5px 11px 3px 11px;
	color: #fff;
}
.xButton_a1NavBarBtn_msover_b {width:4px; height:28px; background-position:0 -29px;}
.xButton_a1NavBarBtn_msover_m {height:28px; background-position:0 -29px; }
.xButton_a1NavBarBtn_msover_e {width:4px; height:28px; background-position: -4px -29px;}
	.xButton_a1NavBarBtn_msover_c {
		font-weight: normal
	}
.xButton_a1NavBarBtn_selected_bkgA {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","a1/buttons/navbarbtnEdges.png","no-repeat scroll 0 0")}
	font-size:1px;
}
.xButton_a1NavBarBtn_selected_bkgB {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","a1/buttons/navbarbtnCentre.png","repeat-x 0 0")}
}
.xButton_a1NavBarBtn_selected_w {height:28px;}
.xButton_a1NavBarBtn_selected_c {
	margin: 5px 11px 3px 11px;
	color: #fff;
}
.xButton_a1NavBarBtn_selected_b {width:4px; height:28px; background-position:0 0px;}
.xButton_a1NavBarBtn_selected_m {height:28px; background-position:0 0px; }
.xButton_a1NavBarBtn_selected_e {width:4px; height:28px; background-position: -4px 0px;}
	.xButton_a1NavBarBtn_selected_c {
		font-weight: normal
	}
.xButton_a1NavBarBtn_disabled_bkgA {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","a1/buttons/navbarbtnEdges.png","no-repeat scroll 0 0")}
	font-size:1px;
}
.xButton_a1NavBarBtn_disabled_bkgB {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","a1/buttons/navbarbtnCentre.png","repeat-x 0 0")}
}
.xButton_a1NavBarBtn_disabled_w {height:28px;}
.xButton_a1NavBarBtn_disabled_c {
	margin: 5px 11px 3px 11px;
	color: #fff;
}
.xButton_a1NavBarBtn_disabled_b {width:4px; height:28px; background-position:0 -58px;}
.xButton_a1NavBarBtn_disabled_m {height:28px; background-position:0 -58px; }
.xButton_a1NavBarBtn_disabled_e {width:4px; height:28px; background-position: -4px -58px;}
	.xButton_a1NavBarBtn_disabled_c {
		font-weight: normal
	}
.xBTNbkg_std {
	/* old type of button (to remove) */
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","","no-repeat")}
}
.xButton_std_normal_bkgA {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonEdges.gif","no-repeat scroll 0 0")}
	font-size:1px;
}
.xButton_std_normal_bkgB {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonCentre.gif","repeat-x 0 0")}
}
.xButton_std_normal_w {height:25px;}
.xButton_std_normal_c {
	margin: 5px 0px 5px 0px;
	color: #000000;
}
.xButton_std_normal_b {width:8px; height:25px; background-position:0 0px;}
.xButton_std_normal_m {height:25px; background-position:0 0px; }
.xButton_std_normal_e {width:9px; height:25px; background-position: -8px 0px;}
	.xButton_std_normal_c {
		font-weight: normal
	}
.xButton_std_msdown_bkgA {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonEdges.gif","no-repeat scroll 0 0")}
	font-size:1px;
}
.xButton_std_msdown_bkgB {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonCentre.gif","repeat-x 0 0")}
}
.xButton_std_msdown_w {height:25px;}
.xButton_std_msdown_c {
	margin: 7px 0px 3px 0px;
	color: #000000;
}
.xButton_std_msdown_b {width:8px; height:25px; background-position:0 -27px;}
.xButton_std_msdown_m {height:25px; background-position:0 -27px; }
.xButton_std_msdown_e {width:9px; height:25px; background-position: -8px -27px;}
	.xButton_std_msdown_c {
		font-weight: normal
	}
.xButton_std_msover_bkgA {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonEdges.gif","no-repeat scroll 0 0")}
	font-size:1px;
}
.xButton_std_msover_bkgB {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonCentre.gif","repeat-x 0 0")}
}
.xButton_std_msover_w {height:25px;}
.xButton_std_msover_c {
	margin: 5px 0px 5px 0px;
	color: #000000;
}
.xButton_std_msover_b {width:8px; height:25px; background-position:0 0px;}
.xButton_std_msover_m {height:25px; background-position:0 0px; }
.xButton_std_msover_e {width:9px; height:25px; background-position: -8px 0px;}
	.xButton_std_msover_c {
		font-weight: normal
	}
.xButton_std_selected_bkgA {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonEdges.gif","no-repeat scroll 0 0")}
	font-size:1px;
}
.xButton_std_selected_bkgB {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonCentre.gif","repeat-x 0 0")}
}
.xButton_std_selected_w {height:25px;}
.xButton_std_selected_c {
	margin: 5px 0px 5px 0px;
	color: #000000;
}
.xButton_std_selected_b {width:8px; height:25px; background-position:0 0px;}
.xButton_std_selected_m {height:25px; background-position:0 0px; }
.xButton_std_selected_e {width:9px; height:25px; background-position: -8px 0px;}
	.xButton_std_selected_c {
		font-weight: normal
	}
.xButton_std_disabled_bkgA {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonEdges.gif","no-repeat scroll 0 0")}
	font-size:1px;
}
.xButton_std_disabled_bkgB {
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","atdefskin/sprites/buttonCentre.gif","repeat-x 0 0")}
}
.xButton_std_disabled_w {height:25px;}
.xButton_std_disabled_c {
	margin: 5px 0px 5px 0px;
	color: #000000;
}
.xButton_std_disabled_b {width:8px; height:25px; background-position:0 -54px;}
.xButton_std_disabled_m {height:25px; background-position:0 -54px; }
.xButton_std_disabled_e {width:9px; height:25px; background-position: -8px -54px;}
	.xButton_std_disabled_c {
		font-weight: normal
	}
.xBTNbkg_a1BannerLink {
	/* old type of button (to remove) */
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","a1/buttons/headerlink.png","no-repeat")}
}

	.xButton_a1BannerLink_normal_c {
		font-weight: normal
	}
	.xButton_a1BannerLink_msdown_c {
		font-weight: normal
	}
	.xButton_a1BannerLink_msover_c {
		font-weight: normal
	}
	.xButton_a1BannerLink_selected_c {
		font-weight: normal
	}
	.xButton_a1BannerLink_disabled_c {
		font-weight: normal
	}
.xBTNbkg_a1AddTabBtn {
	/* old type of button (to remove) */
	${aria.widgets.AriaSkinInterface.backgroundMacro("transparent","a1/buttons/a1AddTabBtn.gif","no-repeat")}
}

	.xButton_a1AddTabBtn_normal_c {
		font-weight: normal
	}
	.xButton_a1AddTabBtn_msdown_c {
		font-weight: normal
	}
	.xButton_a1AddTabBtn_msover_c {
		font-weight: normal
	}
	.xButton_a1AddTabBtn_selected_c {
		font-weight: normal
	}
	.xButton_a1AddTabBtn_disabled_c {
		font-weight: normal
	}

{/macro}
{/CSSTemplate}