/**
 * Copyright Amadeus
 */

{CSSTemplate {
	$classpath : 'aria.tester.runner.view.config.ConfigCSS',
	$extends : "aria.tester.runner.view.BaseCSS"
}}

{macro main()}
	{var mainColor = "rgb(" + baseColor.r + ","  + baseColor.g + "," + baseColor.b + ")"/}
	{var r=baseColor.r/}
	{var g=baseColor.g/}
	{var b=baseColor.b/}
	tr {
		cursor : pointer;
		color : {call rgb(r, g, b, 0)/};
	}
	
	tr:hover {
		color : {call rgb(r, g, b, 50)/};
	}
	
	tr .select {
		width : 9px;
		height : 9px;
		border : 1px solid {call rgb(r, g, b, 0)/};;
		float : left;
		margin-right : 3px;
		margin-top : 1px;
	}
	tr:hover .select {
		border : 1px solid {call rgb(r, g, b, 50)/};
	}
	
	
	.innerSelect {
		width : 7px;
		height : 7px;
		border : 1px solid white;
		float : left;
		background: {call rgb(r, g, b, 0)/};
	}
	
	.innerSelect.half{
		width : 3px;
		height : 3px;
		border : 3px solid white;
	}
	
	.innerSelect.empty{
		background:white;
	}
	
	
	tr:hover .innerSelect.filled,  tr:hover .innerSelect.half{
		background:{call rgb(r, g, b, 50)/};
	}
{/macro}
{/CSSTemplate}
