/**
 * Copyright Amadeus
 */


{CSSTemplate {
	$classpath : "aria.widgets.css.epiphany.TabPanel"
}}

{macro main()}


	.xTabPanel_std_normal_frame  {
		border: 1px solid #777788;
		padding: 10px 10px 10px 10px;
		*padding-top: 9px;
		background-color: #FFFAF7;
		color: #333333;
		vertical-align: top;
	}

{/macro}
{/CSSTemplate}
